<div class="page-header">
  <%= render partial: 'messages', locals: {messages: @messages, error: @error} %>
  <h2><%= title %></h2>
</div>

<div class="container">
  <%= form_tag({ action: :create_or_update }, { class: 'form-horizontal' }) do %>
      <div class="form-group">
        <label for="publication_name" class="control-label col-sm-2">提督名</label>
        <div class="col-sm-10">
          <%= text_field :publication, :name, maxlength: 32, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label for="publication_url_name" class="control-label col-sm-2">URLに含める名前</label>
        <div class="col-sm-10">
          <%= text_field :publication, :url_name, maxlength: 16, class: 'form-control' %>
          <span class="help-block" style="margin-bottom: 0px;">半角英数およびアンダーバー（_）のみが使えます</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <label>
            <%= check_box :publication, :opens_twitter_nickname %> Twitter アカウントの公開
          </label>
          <span class="help-block" style="margin-bottom: 0px;">
            このチェックボックスを ON にすると、Admiral Stats へのログインに使っている twitter アカウント（@<%= current_admiral.twitter_nickname %>）も公開します
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <label>
            <%= check_box :publication, :opens_ship_list %> 艦娘一覧の公開
          </label>
          <% if @publication.url_name %>
              <span class="help-block" style="margin-bottom: 0px;">
                <% url = url_for(controller: 'public_ship_list', action: 'index', url_name: @publication.url_name, only_path: false) %>
                <%= link_to url, url, id: 'ship_list_url' %>
                <button class="clipboard-btn btn btn-default btn-sm" data-clipboard-target="#ship_list_url" type="button">
                  クリップボードにコピー <span class="glyphicon glyphicon-copy"></span>
                </button>
              </span>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= submit_tag '変更を保存', id: 'settings_save', class: 'btn btn-primary', disabled: 'disabled' %>
        </div>
      </div>
  <% end %>
</div>

<script type="application/javascript">
  $(function () {
    // テキストボックスの変化は change ですぐに検出できない（フォーカスが外れたあとに検出）
    // そのため、keypress, keyup で変化したかどうかを比較する
    function disablesButtonIfChanged(id){
      var old = v = $(id).val();
      return function(){
        v = $(id).val();
        if (old != v) {
          $('#settings_save').removeAttr('disabled');
        }
      }
    }

    $('#publication_name').on('keypress', disablesButtonIfChanged('#publication_name'));
    $('#publication_name').on('keyup', disablesButtonIfChanged('#publication_name'));
    $('#publication_url_name').on('keypress', disablesButtonIfChanged('#publication_url_name'));
    $('#publication_url_name').on('keyup', disablesButtonIfChanged('#publication_url_name'));

    // チェックボックスの変化は change ですぐに検出できる
    $('#publication_opens_twitter_nickname').on('change', function () { $('#settings_save').removeAttr('disabled') });
    $('#publication_opens_ship_list').on('change', function () { $('#settings_save').removeAttr('disabled') });
  });
</script>

<% if @publication.url_name %>
    <script type="application/javascript">
      function setTooltip(btn, message) {
        $(btn).tooltip('hide')
          .attr('data-original-title', message)
          .tooltip('show');
      }

      function hideTooltip(btn) {
        setTimeout(function() {
          // tooltip('hide') とすると、ボタンを2回目に押したときに
          // ツールチップがすぐに消えてしまう不具合が発生した。
          // そのため、destory で破棄するようにした。
          $(btn).tooltip('destroy');
        }, 1500);
      }

      var clipboard = new Clipboard('.clipboard-btn');

      clipboard.on('success', function(e) {
        $('.clipboard-btn').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        setTooltip(e.trigger, 'コピーしました');
        hideTooltip(e.trigger);
        e.clearSelection();
      });

      clipboard.on('error', function(e) {
        $('.clipboard-btn').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        setTooltip(e.trigger, 'コピーに失敗しました');
        hideTooltip(e.trigger);
        e.clearSelection();
      });
    </script>
<% end %>
