<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="container">
  <% if @tokens.blank? %>
      <p>
        「トークンの新規発行」ボタンを押すと API トークンを発行します。<br>
        発行した API トークンを提督情報エクスポータに設定してください。
      </p>
  <% else %>
      <p>
        この API トークンを提督情報エクスポータに設定してください。<br>
        現時点では、Ruby 版のエクスポータのみが API に対応しています。使い方は <%= link_to 'リンク先', exporter_url, :target => '_blank' %> をご覧ください。
      </p>
      <div class="table-responsive-wrappable">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">発行日</th>
            <th class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-xs-9">トークン</th>
          </tr>
          </thead>
          <tbody>
          <% @tokens.each do |token| %>
              <tr>
                <td><%= token.issued_at.to_s(:datetime) %></td>
                <td class="token"><%= token.token %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
  <%= form_tag({ action: :create } ) do %>
      <% if @tokens.blank? %>
          <div class="form-group">
            <%= submit_tag 'トークンの新規発行', :class => 'btn btn-primary' %>
          </div>
      <% else %>
          <div class="form-group">
            <p>
              API トークンを変更したい場合は以下のボタンを押してください。トークンを再発行すると、いままでのトークンは使えなくなります。
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm">
              トークンの再発行
            </button>
          </div>
          <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="confirmModalLabel">確認</h4>
                </div>
                <div class="modal-body">
                  トークンを再発行すると、いままでのトークンは使えなくなります。よろしいですか？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                  <%= submit_tag '再発行', :class => 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
