<div class="page-header">
  <%= render partial: 'messages', locals: {messages: @messages, error: @error} %>
  <h2><%= title %></h2>
</div>

<div class="container">
  <% if @token.blank? %>
      <p>
        「トークンの新規発行」ボタンを押すと API トークンを発行します。<br>
        発行した API トークンを提督情報エクスポータに設定すると、エクスポート結果を Admiral Stats に自動アップロードできるようになります。
      </p>
  <% else %>
      <p>
        この API トークンを提督情報エクスポータに設定すると、エクスポート結果を Admiral Stats に自動アップロードできるようになります。<br>
        設定方法は <%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> をご覧ください。
      </p>
      <div class="table-responsive-wrappable">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">発行日</th>
            <th class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-xs-9">トークン</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @token.issued_at.to_s(:datetime) %></td>
              <td class="token">
                <div id="token" style="margin-bottom: 8px;"><%= @token.token %></div>
                <button class="clipboard-btn btn btn-default btn-sm" data-clipboard-target="#token">
                  クリップボードにコピー <span class="glyphicon glyphicon-copy"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  <% end %>
  <%= form_tag({ action: :create } ) do %>
      <% if @token.blank? %>
          <div class="form-group">
            <%= submit_tag 'トークンの新規発行', :class => 'btn btn-primary' %>
          </div>
      <% else %>
          <div class="form-group">
            <p>
              API トークンを間違えて公開してしまった、などの理由でトークンを変更したい場合は以下のボタンを押してください。<br>
              トークンを再発行すると、いままでのトークンは使えなくなります。
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm">
              トークンの再発行
            </button>
          </div>
          <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="confirmModalLabel">確認</h4>
                </div>
                <div class="modal-body">
                  トークンを再発行すると、いままでのトークンは使えなくなります。よろしいですか？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                  <%= submit_tag '再発行', :class => 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

<% unless @token.blank? %>
    <script type="application/javascript">
      function setTooltip(btn, message) {
        $(btn).tooltip('hide')
          .attr('data-original-title', message)
          .tooltip('show');
      }

      function hideTooltip(btn) {
        setTimeout(function() {
          // tooltip('hide') とすると、ボタンを2回目に押したときに
          // ツールチップがすぐに消えてしまう不具合が発生した。
          // そのため、destory で破棄するようにした。
          $(btn).tooltip('destroy');
        }, 1500);
      }

      var clipboard = new Clipboard('.clipboard-btn');

      clipboard.on('success', function(e) {
        $('.clipboard-btn').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        setTooltip(e.trigger, 'コピーしました');
        hideTooltip(e.trigger);
        e.clearSelection();
      });

      clipboard.on('error', function(e) {
        $('.clipboard-btn').tooltip({
          trigger: 'click',
          placement: 'bottom'
        });

        setTooltip(e.trigger, 'コピーに失敗しました');
        hideTooltip(e.trigger);
        e.clearSelection();
      });
    </script>
<% end %>
