<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>最新のお知らせは <%= link_to_twitter_admiral_stats %> で公開中です。不具合報告もこのアカウントで受け付けています。</li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
    <% end %>
    <li>
      <strong class="text-primary">【更新予告】11/26(土) 午後のエクスポータ更新（Ruby、PowerShell、ブックマークレット版）</strong><br>
      11/25(金) 23:59のイベント終了に伴い、SEGA 公式サイトの仕様が変わる可能性があります（イベントページへのリンクがなくなる、等）。<br>
      そのため、11/26(土)の午後にエクスポータを更新します。11/26(土)の午前中はなるべくエクスポータを使わないことをお薦めします。
    </li>
    <li>
      2016年11月11日更新：<%= link_to '全提督との比較（イベント攻略率）', controller: 'global', action: 'event' %> のページを追加しました。
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
