<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
    <% end %>
    <li>
      2016年11月4日更新：<br>
      <strong class="text-danger">【不具合の修正のお知らせ】</strong>ブックマークレット版のエクスポータ2個のうち、（すべて）と書かれた方で、イベント履歴情報をエクスポートできない不具合がありました。影響期間は11月3日0:00頃〜4日19:40頃です。<br>
      このバージョンをお使いの方は、お手数ですが<strong class="text-danger">ブラウザのキャッシュを一度クリアしてください</strong>。そうすると、次回からは不具合解決済みのエクスポータが実行されます。
    </li>
    <li>
      2016年11月3日更新：イベント進捗情報のインポートに対応しました。イベント期間終了後も、<%= link_to_if_logged_in '「イベントの進捗」', controller: 'admiral_info', action: 'event' %> のページで周回数などを確認できます。
    </li>
    <li>
      2016年10月29日更新：<%= link_to 'イベントに出撃した提督全体での艦娘カード入手率', controller: 'global', action: 'event_ship_card_ownership', event_no: 1 %> のページを追加しました。
    </li>
    <li>
      2016年10月27日更新：Ruby版、PowerShell版、ブックマークレット版（全プレイデータ）のエクスポータに、イベント進捗情報のエクスポート機能を追加しました。
    </li>
    <li>
      2016年10月19日更新：<%= link_to 'ブックマークレット版のエクスポータを「使い方」ページで公開しました。', controller: 'manual', action: 'exporter' %>Android でも動きます。iOS は駄目でした……。
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
