<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>
      最新のお知らせは <%= link_to 'Twitter アカウント', twitter_admiral_stats_url, target: '_blank' %> にて公開中。不具合報告もこちらにお願いします。<br>
      <div class="follow-button">
        <a href="https://twitter.com/admiral_stats" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @admiral_stats</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
        <li>
          <strong class="text-primary">【重要なお知らせ】</strong><br>
          すべてのエクスポータに、Admiral Stats への自動アップロード機能を実装完了しました。<strong>Safari および iOS でもお使いいただけます</strong>。<br>
          まだ使っていない提督さんは、<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> の手順に従って、ぜひ使ってみてください！
        </li>
    <% end %>
    <li>
      2017年6月25日更新：ログイン後に表示される活動記録に、伊勢改・日向改の限定カードが表示されるようになりました。なお、艦娘一覧にはまだ表示できていません（UI 検討中です）。
    </li>
    <li>
      2017年6月11日更新：<%= link_to_if_logged_in '「レベル・経験値（艦娘別）」ページ', controller: 'ship_info', action: 'level' %> に、Lv 30 到達予想日の表示を追加しました（<%= link_to 'Pull Request #10', 'https://github.com/muziyoshiz/admiral_stats/pull/10' %>）。Thanks mimikun!
    </li>
    <li>
      <strong class="text-danger">2017年6月3日更新：【不具合と、その修正完了のお知らせ】</strong><br>
      <ul>
        <li>
          PowerShell 版のエクスポータに、「自動アップロードした場合に装備名が文字化けする不具合」がありました。<br>
          最新版（v1.7.1〜）で修正しましたので、PowerShell 版のユーザはアップデートをお願いします（<%= link_to 'ダウンロードページ', 'https://github.com/muziyoshiz/admiral_stats_exporter/releases', target: '_blank' %>）。
        </li>
        <li>
          <%= link_to '「イベント攻略率」ページ', controller: 'global', action: 'event' %> で、攻略済み周回数が<strong class="text-danger">60周以上</strong>の場合に、正しく表示できていなかった不具合を修正しました。
        </li>
      </ul>
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
