<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>最新のお知らせは <%= link_to_twitter_admiral_stats %> で公開中です。不具合報告もこのアカウントで受け付けています。</li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
    <% end %>
    <li>
      2017年1月15日更新(2)：<%= link_to_if_logged_in '装備スロット', controller: 'ship_list', action: 'slot' %> が表示できていなかった不具合を修正しました。
    </li>
    <li>
      2017年1月15日更新：「艦娘一覧」ファイルから取得できるデータを増やしました。それに伴い、以下の機能も追加・改善しました。
      <ul>
        <li>「艦娘一覧」内に <%= link_to_if_logged_in '装備スロット', controller: 'ship_list', action: 'slot' %> のページを追加しました。装備の整理にお役立てください。</li>
        <li>経験値の獲得割合を考慮し、「レベル 99 到達予想日」などを今までより正確に表示できるようになりました。</li>
      </ul>
    </li>
    <li>
      2017年1月10日更新：各種グラフの表示期間に「過去 3 ヶ月」、「過去 6 ヶ月」、「過去 1 年」を追加しました。
    </li>
    <li>
      2016年12月17日更新：<%= link_to_if_logged_in 'イベント期間中の艦娘カード入手率', controller: 'global', action: 'event_ship_card_ownership', event_no: 1 %> のページでエラーが表示されてしまう不具合を修正しました。
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
