<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <% if true %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
    <% end %>
    <li>
      2016年10月19日更新：<%= link_to 'ブックマークレット版のエクスポータを「使い方」ページで公開しました。', controller: 'manual', action: 'exporter' %>Android でも動きます。iOS は駄目でした……。
    </li>
    <li>
      2016年10月15日更新：このサイトのソースコードを <%= link_to 'GitHub', github_url, :target => '_blank' %> にて公開しました。詳細は <%= link_to 'こちらのブログ記事', 'http://muziyoshiz.hatenablog.com/entry/2016/10/15/152851', :target => '_blank' %> を参照。
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
