<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>
      最新のお知らせは <%= link_to 'Twitter アカウント', twitter_admiral_stats_url, target: '_blank' %> にて公開中。不具合報告もこちらにお願いします。<br>
      <div class="follow-button">
        <a href="https://twitter.com/admiral_stats" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @admiral_stats</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
    <% end %>
    <li>
      <strong class="text-primary">【重要なお知らせ】</strong><br>
      すべてのエクスポータに、Admiral Stats への自動アップロード機能を実装完了しました。<strong>Safari および iOS でもお使いいただけます</strong>。<br>
      まだ使っていない提督さんは、<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> の手順に従って、ぜひ使ってみてください！
    </li>
    <li>2017年3月23日更新：ホーム画面の「活動記録」、艦娘情報の一部、装備スロットページで改二を表示できていなかった不具合を修正しました。不具合報告ありがとうございました！</li>
    <li>2017年3月21日更新：改二艦娘のインポート・表示処理を一部実装しました。あくまでデータ形式を予想して作っただけなので、うまく動かない可能性があります。</li>
    <li>
      2017年3月19日更新：以下のページの先頭に、集計結果の概要がわかる表を追加しました。
      <ul>
        <li><%= link_to_if_logged_in '提督情報 > 基本情報', controller: 'admiral_info', action: 'index' %></li>
        <li><%= link_to_if_logged_in '艦娘情報 > レベル・経験値・★5艦娘数（艦種別）', controller: 'ship_info', action: 'level_summary' %></li>
        <li><%= link_to_if_logged_in '艦娘情報 > カード入手数・入手率', controller: 'ship_info', action: 'card' %></li>
      </ul>
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
