<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>
      最新のお知らせは <%= link_to 'Twitter アカウント', twitter_admiral_stats_url, target: '_blank' %> にて公開中。不具合報告もこちらにお願いします。<br>
      <div class="follow-button">
        <a href="https://twitter.com/admiral_stats" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @admiral_stats</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
        <li>
          <strong class="text-primary">【重要なお知らせ】</strong><br>
          すべてのエクスポータに、Admiral Stats への自動アップロード機能を実装完了しました。<strong>Safari および iOS でもお使いいただけます</strong>。<br>
          まだ使っていない提督さんは、<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> の手順に従って、ぜひ使ってみてください！
        </li>
    <% end %>
    <li><strong>トピックス</strong>：<%= link_to '第3回イベントのプレイデータ解析結果（開発者のブログ）', 'http://muziyoshiz.hatenablog.com/entry/2018/02/23/221856', target: '_blank' %>、<%= link_to '艦らぼ様の Admiral Stats 解説記事', 'http://kancolle-arcade-labo.com/index.php?Admiral%20Stats%A4%CE%BB%C8%A4%A4%CA%FD', target: '_blank' %></li>
    <li>
      2018年8月14日更新：期間限定作戦のレポート表示（<%= link_to '「輸送イベント攻略率」ページ', controller: 'global', action: 'cop_event' %>）を追加しました。
    </li>
    <li>
      2018年8月7日更新：期間限定作戦の海域情報のインポートに対応しました。<%= link_to_if_logged_in '「輸送イベントの進捗」ページ', controller: 'admiral_info', action: 'cop_event' %> でインポート結果を確認できます。
    </li>
    <li>
      2018年7月24日更新：期間限定作戦の海域情報（Cop_info_yyyymmdd_hhmmss.json 形式）のエクスポートに対応しました。インポートには今後対応します。
      <ul>
        <li>
          ブックマークレット版：基本的には、特に何もする必要はありません。現時点では（すべてダウンロード）のエクスポータの場合のみ、エクスポートされるファイルが1個増えます。
        </li>
        <li>
          PowerShell 版、Ruby 版：<%= link_to 'エクスポータの配布サイト(GitHub)', exporter_url, target: '_blank' %> から最新版にアップデートしてください。
        </li>
      </ul>
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
