<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>
      最新のお知らせは <%= link_to 'Twitter アカウント', twitter_admiral_stats_url, target: '_blank' %> にて公開中。不具合報告もこちらにお願いします。<br>
      <div class="follow-button">
        <a href="https://twitter.com/admiral_stats" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @admiral_stats</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
        <li>
          <strong class="text-primary">【重要なお知らせ】</strong><br>
          すべてのエクスポータに、Admiral Stats への自動アップロード機能を実装完了しました。<strong>Safari および iOS でもお使いいただけます</strong>。<br>
          まだ使っていない提督さんは、<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> の手順に従って、ぜひ使ってみてください！
        </li>
    <% end %>
    <li><strong>トピックス</strong>：<%= link_to '第2回イベントのプレイデータ解析結果（開発者のブログ）', 'http://muziyoshiz.hatenablog.com/entry/2017/06/30/004530', target: '_blank' %>、<%= link_to '艦らぼ様の Admiral Stats 解説記事', 'http://kancolle-arcade-labo.com/index.php?Admiral%20Stats%A4%CE%BB%C8%A4%A4%CA%FD', target: '_blank' %></li>
    <li>
      2017年10月9日更新：<%= link_to_if_logged_in '「レベル・経験値・★5艦娘数（艦種別）」ページ', controller: 'ship_info', action: 'level_summary' %> に練習巡洋艦の表示を追加しました。
    </li>
    <li>
      2017年10月3日更新(2)：<%= link_to '「艦娘カード入手率」ページ', controller: 'global', action: 'ship_card_ownership' %>に、集計対象となった提督数の表示を追加しました。
    </li>
    <li>
      2017年10月3日更新(1)：<%= link_to '「艦娘カード入手率」ページ', controller: 'global', action: 'ship_card_ownership' %>に、「過去○○日以内にアップロードした提督」における入手率の表示を追加しました。
      また、デフォルト表示を「過去60日以内のアクティブ提督」に変更しました。
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
