<div class="panel-heading">
  <h3 class="panel-title">お知らせ</h3>
</div>
<div class="panel-body">
  <ul>
    <li>最新のお知らせは <%= link_to_twitter_admiral_stats %> で公開中です。不具合報告もこのアカウントで受け付けています。</li>
    <% if false %>
        <%# 大型アップデート前のみ表示するメッセージ %>
        <li>
          艦これアーケードのアップデート直後は、仕様変更により Admiral Stats や <%= link_to_exporter_url %> が動作しない可能性があります。
          <br>
          その場合は2〜3日お待ちいただくか、 <%= link_to_twitter_admiral_stats %> や <%= link_to 'Gitter のチャットルーム', gitter_url, :target => 'blank' %> まで不具合のご報告をお願いします。
        </li>
    <% end %>
    <li>
      2016年12月1日更新：イベント進捗情報の表示およびインポート機能を改善しました。今後は、過去にインポートした情報と同じ内容のものは表示・インポートしません。
    </li>
    <li>
      2016年11月26日更新：11/25(金) 23:59 のイベント終了に伴う、SEGA 公式サイトの仕様変更は特にないことを確認できました。エクスポータのアップデートは必要ありません。
    </li>
    <li>
      2016年11月25日更新：<%= link_to '全提督との比較（イベント攻略率）', controller: 'global', action: 'event' %> に、攻略済み周回数（難易度別）のグラフを追加しました。
    </li>
    <li>
      <%= link_to '過去のお知らせ...', notice_url %>
    </li>
  </ul>
</div>
