<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="container">
  <h3>2017年</h3>
  <ul>
    <li>
      2017年9月22日更新(2)：<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> にあるエクスポータ（ブックマークレット、PowerShell、Ruby）に、演習情報のエクスポート機能を追加しました。
      Admiral Stats 本体が演習情報をサポートするかは未定です。
    </li>
    <li>
      2017年9月22日更新(1)：練習巡洋艦を検索できるようにするため、艦娘一覧の検索条件に「その他」を追加しました。
    </li>
    <li>
      2017年7月26日更新：<%= link_to_if_logged_in '艦娘一覧', controller: 'ship_list', action: 'index' %>で、千歳航、千代田航の <i class="glyphicon glyphicon-star star"></i><i class="glyphicon glyphicon-star star"></i><i class="glyphicon glyphicon-star star"></i> の表示位置が間違っていた不具合を修正しました。
    </li>
    <li>
      2017年7月22日更新(2)：Twitter 上でアカウント名（例：@admiral_stats）を変更した場合に、Admiral Stats で公開可能なアカウント名も変更されるように修正しました。
    </li>
    <li>
      2017年7月22日更新(1)：改装設計図一覧のインポート機能と、<%= link_to_if_logged_in '「改装設計図」ページ', controller: 'ship_list', action: 'blueprint' %> を追加しました。
      自動アップロードに失敗する場合は、以下の対策をお試しください。
      <ul>
        <li>PowerShell 版、Ruby 版：<%= link_to 'ダウンロードページ', 'https://github.com/muziyoshiz/admiral_stats_exporter/releases', target: '_blank' %> から最新版へのアップデート</li>
        <li>ブックマークレット版：ブラウザのキャッシュの削除</li>
      </ul>
    </li>
    <li>
      2017年7月17日更新：<%= link_to_if_logged_in '「レベル・経験値・★5艦娘数（艦種別）」ページ', controller: 'ship_info', action: 'level_summary' %> に全艦隊の合計経験値・レベル・艦娘数の表示を追加しました。
    </li>
    <li>
      2017年7月16日更新：すべてのページで千歳航/航改、千代田航/航改の表示に対応しました。今後のコンバート艦娘の登場を見据えて、改二より上はすべて「改三以上」という枠で集計します。
    </li>
    <li>
      2017年7月9日更新：<%= link_to_if_logged_in '艦娘一覧', controller: 'ship_list', action: 'index' %> および <%= link_to '艦娘カード入手率', controller: 'global', action: 'ship_card_ownership' %> のページに、限定カード（伊勢改、日向改）の表示機能を追加しました。
    </li>
    <li>
      2017年6月30日更新：開発者のブログで <%= link_to '第2回イベント「南方海域強襲偵察！」のプレイデータ解析 〜甲種勲章の十分条件は何だったのか？', 'http://muziyoshiz.hatenablog.com/entry/2017/06/30/004530', target: '_blank' %> を公開しました。
      甲クリア提督の平均レベルや大北改二の所有率などを分析したので、そういうデータに興味あるかたは是非ご覧ください！
    </li>
    <li>
      2017年6月25日更新：ログイン後に表示される活動記録に、伊勢改・日向改の限定カードが表示されるようになりました。なお、艦娘一覧にはまだ表示できていません（UI 検討中です）。
    </li>
    <li>
      2017年6月11日更新：<%= link_to_if_logged_in '「レベル・経験値（艦娘別）」ページ', controller: 'ship_info', action: 'level' %> に、Lv 30 到達予想日の表示を追加しました（<%= link_to 'Pull Request #10', 'https://github.com/muziyoshiz/admiral_stats/pull/10' %>）。Thanks mimikun!
    </li>
    <li>
      <strong class="text-danger">2017年6月3日更新：【不具合と、その修正完了のお知らせ】</strong><br>
      <ul>
        <li>
          PowerShell 版のエクスポータに、「自動アップロードした場合に装備名が文字化けする不具合」がありました。<br>
          最新版（v1.7.1〜）で修正しましたので、PowerShell 版のユーザはアップデートをお願いします（<%= link_to 'ダウンロードページ', 'https://github.com/muziyoshiz/admiral_stats_exporter/releases', target: '_blank' %>）。
        </li>
        <li>
          <%= link_to '「イベント攻略率」ページ', controller: 'global', action: 'event' %> で、攻略済み周回数が<strong class="text-danger">60周以上</strong>の場合に、正しく表示できていなかった不具合を修正しました。
        </li>
      </ul>
    </li>
    <li>
      2017年5月24日更新：mimikun さん開発の <%= link_to 'Python 版エクスポータ', 'https://github.com/mimikun/admiral_stats_exporter_python', target: '_blank' %> に自動アップロード機能が追加されました！
      <%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> のコメントを更新しました。
    </li>
    <li>
      2017年5月14日更新：<%= link_to_if_logged_in '「艦娘一覧」ページ', controller: 'ship_list', action: 'index' %> で改装設計図の枚数表示に対応しました。
      「設計図の表示に切り替え」ボタンを押すと、一番右の列に改装設計図の枚数が表示されます。
    </li>
    <li>
      2017年5月13日更新：一部のページ（<%= link_to_if_logged_in 'イベントの進捗', controller: 'admiral_info', action: 'event' %>、<%= link_to_if_logged_in 'カード入手数・入手率', controller: 'ship_info', action: 'card' %>）で、オリジナルデザインの「伊勢改」「日向改」のデータの表示に対応しました。
    </li>
    <li>
      2017年5月12日更新：第2回イベントの後段作戦のイベント進捗情報に対応しました。
    </li>
    <li>
      2017年4月30日更新：第2回イベント（REVISION 5）での SEGA 公式サイトのアップデートに対応して、以下の修正を行いました。
      <ul>
        <li>第2回イベントの情報をインポートできるようになりました。ただし、<strong class="text-primary">後段作戦は未対応</strong>です。</li>
        <li>
          第2回イベントの情報を、<%= link_to_if_logged_in '「イベントの進捗」ページ', controller: 'admiral_info', action: 'event' %>、
          <%= link_to '「イベント攻略率」ページ', controller: 'global', action: 'event' %> で確認できるようになりました。
        </li>
        <li>提督情報、艦娘一覧のインポート機能を修正して、インポートできる情報（改装設計図の枚数など）を増やしました。</li>
        <li>
          Ruby版、PowerShell版、ブックマークレット版（すべてダウンロード）のエクスポータに「改装設計図一覧」エクスポート機能を追加しました。
          エクスポータのアップデート方法は <%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> をご覧ください。</li>
      </ul>
    </li>
    <li>2017年4月20日更新：イベント進捗情報のインポート機能を一時的に停止しました。第2回イベントのデータ形式が判明したら再開します。</li>
    <li>2017年4月18日更新：mimikun さん開発の <%= link_to 'Python 版エクスポータ', 'https://github.com/mimikun/admiral_stats_exporter_python', target: '_blank' %> へのリンクを、<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> に追加しました。開発ありがとうございます！</li>
    <li>2017年4月17日更新：プレイデータの URL を若干短いものに修正しました（/admirals/name/ship_list → /@name/ship_list）。以前の URL は新しい URL にリダイレクトします。</li>
    <li>
      2017年4月7日更新：自分のプレイデータ（艦娘一覧）を公開する機能を追加しました。
      <ul>
        <li>サンプル：<%= link_to 'ムジ提督の艦娘一覧', 'https://www.admiral-stats.com/@muziyoshiz/ship_list' %><br></li>
        <li><%= link_to_if_logged_in '「情報公開の設定」ページ', controller: 'publication', action: 'index' %> で設定を ON にすると、公開用 URL が割り当てられます。</li>
        <li>公開したくない場合は、デフォルト設定（OFF）のままにしておけば公開されないのでご安心ください。</li>
      </ul>
    </li>
    <li>2017年4月3日更新：<%= link_to_if_logged_in '「API トークンの発行」ページ', controller: 'token', action: 'index' %> を微修正しました（「クリップボードにコピー」ボタンの追加など）。</li>
    <li>2017年3月23日更新：ホーム画面の「活動記録」、艦娘情報の一部、装備スロットページで改二を表示できていなかった不具合を修正しました。不具合報告ありがとうございました！</li>
    <li>2017年3月21日更新：改二艦娘のインポート・表示処理を一部実装しました。あくまでデータ形式を予想して作っただけなので、うまく動かない可能性があります。</li>
    <li>
      2017年3月19日更新：以下のページの先頭に、集計結果の概要がわかる表を追加しました。
      <ul>
        <li><%= link_to_if_logged_in '提督情報 > 基本情報', controller: 'admiral_info', action: 'index' %></li>
        <li><%= link_to_if_logged_in '艦娘情報 > レベル・経験値・★5艦娘数（艦種別）', controller: 'ship_info', action: 'level_summary' %></li>
        <li><%= link_to_if_logged_in '艦娘情報 > カード入手数・入手率', controller: 'ship_info', action: 'card' %></li>
      </ul>
    </li>
    <li>
      2017年3月12日更新(2)：<%= link_to '提督情報エクスポータ（PowerShell 版）', exporter_url, :target => '_blank' %> に自動アップロード機能を追加しました。今回も <%= link_to '@sophiarcp', 'http://twitter.com/sophiarcp', :target => '_blank' %> さんにコードを寄贈いただきました。ありがとうございます！
    </li>
    <li>
      2017年3月12日更新(1)：ブックマークレット版エクスポータを、大幅にアップデートしました。
      <ul>
        <li>
          自動アップロード用のブックマークレットを、<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> にて公開しました。
          ページ内の説明に従って、API トークンの発行などを行ってください。
        </li>
        <li>
          自動アップロード用のブックマークレットは、<strong>Safari および iOS でもお使いいただけます</strong>。
        </li>
      </ul>
    </li>
    <li>
      2017年3月10日更新：自動アップロードのための API を追加しました。現時点では、Ruby 版エクスポータのみが API に対応しています。
      <ul>
        <li>
          <%= link_to '提督情報エクスポータ（Ruby 版）', exporter_url, :target => '_blank' %> への自動アップロード機能の追加（※ 使い方は <%= link_to 'リンク先', exporter_url, :target => '_blank' %> をご覧ください）
        </li>
        <li>
          <%= link_to_if_logged_in '設定 > API トークンの設定', controller: 'token', action: 'index' %> にて API トークンを発行する機能の追加
        </li>
        <li>
          <%= link_to_if_logged_in '設定 > API ログの確認', controller: 'token', action: 'index' %> にて API 経由のインポート結果を確認する機能の追加
        </li>
      </ul>
    </li>
    <li>
      2017年2月25日更新：<%= link_to_if_logged_in '「レベル・経験値（艦娘別）」ページ', controller: 'ship_info', action: 'level' %> にて、1ヶ月間レベルが上がっていなくても、経験値が増えていればレベル99到達予想日を表示するように改善しました。
    </li>
    <li>
      2017年2月20日更新：艦娘一覧などの一覧表に、艦種（駆逐艦、軽巡洋艦など）での絞り込み機能を追加しました。
    </li>
    <li>
      2017年2月19日更新：<%= link_to_if_logged_in '「レベル・経験値（艦娘別）」ページ', controller: 'ship_info', action: 'level' %> で最初からグラフ表示する艦娘を、期間内の取得経験値が最も多い6隻に変更しました（従来はレベル上位6隻）。また、期間内の取得経験値を表に追加しました。
    </li>
    <li>
      2017年2月15日更新：<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> からダウンロード可能なエクスポータ（Ruby、PowerShell、JavaScript）に、家具一覧のエクスポート機能を追加しました。
    </li>
    <li>
      2017年2月7日更新：「翔鶴」「瑞鶴」「瑞鳳」「祥鳳」の改カードに対応しました。改が実装される前のデータ（カード入手率など）への影響はありません。
    </li>
    <li>
      2017年1月27日更新：Admiral Stats のアイコンを設置しました。
    </li>
    <li>
      2017年1月24日更新：艦隊司令部Lvの上限を99から110に変更しました。累計経験値は、艦これブラウザ版と同じ経験値テーブルを仮定して計算したものを表示します。
    </li>
    <li>
      2017年1月15日更新(2)：<strong class="text-danger">【不具合と、その修正完了のお知らせ】</strong><%= link_to_if_logged_in '装備スロット', controller: 'ship_list', action: 'slot' %> が表示できていなかった不具合を修正しました。
    </li>
    <li>
      2017年1月15日更新：「艦娘一覧」ファイルから取得できるデータを増やしました。それに伴い、以下の機能も追加・改善しました。
      <ul>
        <li>「艦娘一覧」内に <%= link_to_if_logged_in '装備スロット', controller: 'ship_list', action: 'slot' %> のページを追加しました。装備の整理にお役立てください。</li>
        <li>経験値の獲得割合を考慮し、「レベル 99 到達予想日」などを今までより正確に表示できるようになりました。</li>
      </ul>
    </li>
    <li>
      2017年1月10日更新：各種グラフの表示期間に「過去 3 ヶ月」、「過去 6 ヶ月」、「過去 1 年」を追加しました。
    </li>
  </ul>

  <h3>2016年</h3>
  <ul>
    <li>
      2016年12月17日更新：<%= link_to_if_logged_in 'イベント期間中の艦娘カード入手率', controller: 'global', action: 'event_ship_card_ownership', event_no: 1 %> のページでエラーが表示されてしまう不具合を修正しました。
    </li>
    <li>
      2016年12月4日更新：イベント進捗情報が空の場合もエラーを出さないように、インポート機能を修正しました。
    </li>
    <li>
      2016年12月1日更新：イベント進捗情報の表示およびインポート機能を改善しました。今後は、過去にインポートした情報と同じ内容のものは表示・インポートしません。
    </li>
    <li>
      2016年11月26日更新：11/25(金) 23:59 のイベント終了に伴う、SEGA 公式サイトの仕様変更は特にないことを確認できました。エクスポータのアップデートは必要ありません。
    </li>
    <li>
      2016年11月25日更新：<%= link_to '全提督との比較（イベント攻略率）', controller: 'global', action: 'event' %> に、攻略済み周回数（難易度別）のグラフを追加しました。
    </li>
    <li>
      2016年11月11日更新：<%= link_to '全提督との比較（イベント攻略率）', controller: 'global', action: 'event' %> のページを追加しました。
    </li>
    <li>
      2016年11月4日更新：<br>
      <strong class="text-danger">【不具合と、その修正完了のお知らせ】</strong>ブックマークレット版のエクスポータ2個のうち、（すべて）と書かれた方で、イベント履歴情報をエクスポートできない不具合がありました。影響期間は11月3日0:00頃〜4日19:40頃です。<br>
      このバージョンをお使いの方は、お手数ですが<strong class="text-danger">ブラウザのキャッシュを一度クリアしてください</strong>。そうすると、次回からは不具合解決済みのエクスポータが実行されます。
    </li>
    <li>
      2016年11月3日更新：イベント進捗情報のインポートに対応しました。イベント期間終了後も、<%= link_to_if_logged_in '「イベントの進捗」', controller: 'admiral_info', action: 'event' %> のページで周回数などを確認できます。
    </li>
    <li>
      2016年10月29日更新：<%= link_to 'イベントに出撃した提督全体での艦娘カード入手率', controller: 'global', action: 'event_ship_card_ownership', event_no: 1 %> のページを追加しました。
    </li>
    <li>
      2016年10月27日更新：Ruby版、PowerShell版、ブックマークレット版（全プレイデータ）のエクスポータに、イベント進捗情報のエクスポート機能を追加しました。
    </li>
    <li>
      2016年10月19日更新：<%= link_to 'ブックマークレット版のエクスポータを「使い方」ページで公開しました。', controller: 'manual', action: 'exporter' %>Android でも動きます。iOS は駄目でした……。
    </li>
    <li>
      2016年10月15日更新：このサイトのソースコードを <%= link_to 'GitHub', github_url, :target => '_blank' %> にて公開しました。詳細は <%= link_to 'こちらのブログ記事', 'http://muziyoshiz.hatenablog.com/entry/2016/10/15/152851', :target => '_blank' %> を参照。
    </li>
    <li>
      2016年10月9日更新：最新の更新情報をお伝えする Twitter アカウント <%= link_to_twitter_admiral_stats %> を作りました。不具合の報告などもこちらで受け付けます。
    </li>
    <li>
      2016年10月8日更新：<%= link_to_if_logged_in 'レベル・経験値・★5艦娘数（艦種別）', :controller => 'ship_info', :action => 'level_summary' %> のページに、平均レベル・経験値のグラフを追加しました。また、細かなバグ数点を修正しました。
    </li>
    <li>
      2016年10月7日更新：<%= link_to '全提督との比較（艦娘カード入手率）', :controller => 'global', :action => 'ship_card_ownership' %> のページを追加しました。
    </li>
    <li>
      2016年10月3日更新：インポートされたファイルの自動判別機能を追加し、基本情報〜艦娘一覧を1回の操作で一括インポートできるようになりました。
    </li>
    <li>
      2016年10月1日更新：月初にエクスポートした「基本情報」ファイルを、インポートできない場合がある不具合を修正しました。
    </li>
    <li>
      2016年9月18日更新：Ruby なしで使える Windows 用のエクスポータを <%= link_to_exporter_url %> で公開しました。Thanks <%= link_to '@sophiarcp', 'https://twitter.com/sophiarcp', :target => '_blank' %>!
    </li>
    <li>
      2016年9月17日更新：<%= link_to_if_logged_in 'レベル・経験値・★5艦娘数（艦種別）', :controller => 'ship_info', :action => 'level_summary' %> に★5艦娘数のグラフを追加しました。また、画面表示に関する細かい不具合をいくつか直しました。
    </li>
    <li>
      2016年9月16日更新：「艦娘一覧」形式のファイルに含まれる星の数のインポート、および艦娘一覧での星の数の表示に対応しました。
    </li>
    <li>
      2016年9月13日更新：「最上」「三隈」「鈴谷」「熊野」の表示に対応しました。
    </li>
    <li>
      2016年9月3日更新：Admiral Stats をリリースしました！
    </li>
  </ul>
</div>
