<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="container">
  <h3>2017年</h3>
  <ul>
    <li>
      2017年2月15日更新：<%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> からダウンロード可能なエクスポータ（Ruby、PowerPoint、JavaScript）に、家具一覧のエクスポート機能を追加しました。
    </li>
    <li>
      2017年2月7日更新：「翔鶴」「瑞鶴」「瑞鳳」「祥鳳」の改カードに対応しました。改が実装される前のデータ（カード入手率など）への影響はありません。
    </li>
    <li>
      2017年1月27日更新：Admiral Stats のアイコンを設置しました。
    </li>
    <li>
      2017年1月24日更新：艦隊司令部Lvの上限を99から110に変更しました。累計経験値は、艦これブラウザ版と同じ経験値テーブルを仮定して計算したものを表示します。
    </li>
    <li>
      2017年1月15日更新(2)：<strong class="text-danger">【不具合と、その修正完了のお知らせ】</strong><%= link_to_if_logged_in '装備スロット', controller: 'ship_list', action: 'slot' %> が表示できていなかった不具合を修正しました。
    </li>
    <li>
      2017年1月15日更新：「艦娘一覧」ファイルから取得できるデータを増やしました。それに伴い、以下の機能も追加・改善しました。
      <ul>
        <li>「艦娘一覧」内に <%= link_to_if_logged_in '装備スロット', controller: 'ship_list', action: 'slot' %> のページを追加しました。装備の整理にお役立てください。</li>
        <li>経験値の獲得割合を考慮し、「レベル 99 到達予想日」などを今までより正確に表示できるようになりました。</li>
      </ul>
    </li>
    <li>
      2017年1月10日更新：各種グラフの表示期間に「過去 3 ヶ月」、「過去 6 ヶ月」、「過去 1 年」を追加しました。
    </li>
  </ul>

  <h3>2016年</h3>
  <ul>
    <li>
      2016年12月17日更新：<%= link_to_if_logged_in 'イベント期間中の艦娘カード入手率', controller: 'global', action: 'event_ship_card_ownership', event_no: 1 %> のページでエラーが表示されてしまう不具合を修正しました。
    </li>
    <li>
      2016年12月4日更新：イベント進捗情報が空の場合もエラーを出さないように、インポート機能を修正しました。
    </li>
    <li>
      2016年12月1日更新：イベント進捗情報の表示およびインポート機能を改善しました。今後は、過去にインポートした情報と同じ内容のものは表示・インポートしません。
    </li>
    <li>
      2016年11月26日更新：11/25(金) 23:59 のイベント終了に伴う、SEGA 公式サイトの仕様変更は特にないことを確認できました。エクスポータのアップデートは必要ありません。
    </li>
    <li>
      2016年11月25日更新：<%= link_to '全提督との比較（イベント攻略率）', controller: 'global', action: 'event' %> に、攻略済み周回数（難易度別）のグラフを追加しました。
    </li>
    <li>
      2016年11月11日更新：<%= link_to '全提督との比較（イベント攻略率）', controller: 'global', action: 'event' %> のページを追加しました。
    </li>
    <li>
      2016年11月4日更新：<br>
      <strong class="text-danger">【不具合と、その修正完了のお知らせ】</strong>ブックマークレット版のエクスポータ2個のうち、（すべて）と書かれた方で、イベント履歴情報をエクスポートできない不具合がありました。影響期間は11月3日0:00頃〜4日19:40頃です。<br>
      このバージョンをお使いの方は、お手数ですが<strong class="text-danger">ブラウザのキャッシュを一度クリアしてください</strong>。そうすると、次回からは不具合解決済みのエクスポータが実行されます。
    </li>
    <li>
      2016年11月3日更新：イベント進捗情報のインポートに対応しました。イベント期間終了後も、<%= link_to_if_logged_in '「イベントの進捗」', controller: 'admiral_info', action: 'event' %> のページで周回数などを確認できます。
    </li>
    <li>
      2016年10月29日更新：<%= link_to 'イベントに出撃した提督全体での艦娘カード入手率', controller: 'global', action: 'event_ship_card_ownership', event_no: 1 %> のページを追加しました。
    </li>
    <li>
      2016年10月27日更新：Ruby版、PowerShell版、ブックマークレット版（全プレイデータ）のエクスポータに、イベント進捗情報のエクスポート機能を追加しました。
    </li>
    <li>
      2016年10月19日更新：<%= link_to 'ブックマークレット版のエクスポータを「使い方」ページで公開しました。', controller: 'manual', action: 'exporter' %>Android でも動きます。iOS は駄目でした……。
    </li>
    <li>
      2016年10月15日更新：このサイトのソースコードを <%= link_to 'GitHub', github_url, :target => '_blank' %> にて公開しました。詳細は <%= link_to 'こちらのブログ記事', 'http://muziyoshiz.hatenablog.com/entry/2016/10/15/152851', :target => '_blank' %> を参照。
    </li>
    <li>
      2016年10月9日更新：最新の更新情報をお伝えする Twitter アカウント <%= link_to_twitter_admiral_stats %> を作りました。不具合の報告などもこちらで受け付けます。
    </li>
    <li>
      2016年10月8日更新：<%= link_to_if_logged_in 'レベル・経験値・★5艦娘数（艦種別）', :controller => 'ship_info', :action => 'level_summary' %> のページに、平均レベル・経験値のグラフを追加しました。また、細かなバグ数点を修正しました。
    </li>
    <li>
      2016年10月7日更新：<%= link_to '全提督との比較（艦娘カード入手率）', :controller => 'global', :action => 'ship_card_ownership' %> のページを追加しました。
    </li>
    <li>
      2016年10月3日更新：インポートされたファイルの自動判別機能を追加し、基本情報〜艦娘一覧を1回の操作で一括インポートできるようになりました。
    </li>
    <li>
      2016年10月1日更新：月初にエクスポートした「基本情報」ファイルを、インポートできない場合がある不具合を修正しました。
    </li>
    <li>
      2016年9月18日更新：Ruby なしで使える Windows 用のエクスポータを <%= link_to_exporter_url %> で公開しました。Thanks <%= link_to '@sophiarcp', 'https://twitter.com/sophiarcp', :target => '_blank' %>!
    </li>
    <li>
      2016年9月17日更新：<%= link_to_if_logged_in 'レベル・経験値・★5艦娘数（艦種別）', :controller => 'ship_info', :action => 'level_summary' %> に★5艦娘数のグラフを追加しました。また、画面表示に関する細かい不具合をいくつか直しました。
    </li>
    <li>
      2016年9月16日更新：「艦娘一覧」形式のファイルに含まれる星の数のインポート、および艦娘一覧での星の数の表示に対応しました。
    </li>
    <li>
      2016年9月13日更新：「最上」「三隈」「鈴谷」「熊野」の表示に対応しました。
    </li>
  </ul>
</div>