<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="container">
  <h3>2016年</h3>
  <ul>
    <li>
      2016年10月8日更新：<%= link_to_if_logged_in 'レベル・経験値・★5艦娘数（艦種別）', :controller => 'ship_info', :action => 'level_summary' %> のページに、平均レベル・経験値のグラフを追加しました。また、細かなバグ数点を修正しました。
    </li>
    <li>
      2016年10月7日更新：<%= link_to '全提督との比較（艦娘カード入手率）', :controller => 'global', :action => 'ship_card_ownership' %> のページを追加しました。
    </li>
    <li>
      2016年10月3日更新：インポートされたファイルの自動判別機能を追加し、基本情報〜艦娘一覧を1回の操作で一括インポートできるようになりました。
    </li>
    <li>
      2016年10月1日更新：月初にエクスポートした「基本情報」ファイルを、インポートできない場合がある不具合を修正しました。
    </li>
    <li>
      2016年9月18日更新：Ruby なしで使える Windows 用のエクスポータを <%= link_to_exporter_url %> で公開しました。Thanks <%= link_to '@sophiarcp', 'https://twitter.com/sophiarcp', :target => '_blank' %>!
    </li>
    <li>
      2016年9月17日更新：<%= link_to_if_logged_in 'レベル・経験値・★5艦娘数（艦種別）', :controller => 'ship_info', :action => 'level_summary' %> に★5艦娘数のグラフを追加しました。また、画面表示に関する細かい不具合をいくつか直しました。
    </li>
    <li>
      2016年9月16日更新：「艦娘一覧」形式のファイルに含まれる星の数のインポート、および艦娘一覧での星の数の表示に対応しました。
    </li>
    <li>
      2016年9月13日更新：「最上」「三隈」「鈴谷」「熊野」の表示に対応しました。
    </li>
  </ul>
</div>