<div class="page-header">
  <h2><%= title %></h2>
  <p>
    Admiral Stats は <%= link_to_twitter_muziyoshiz %> が開発し、ボランティアで運営しています。
    <ul>
      <li>
        <%= link_to 'Twitter (@admiral_stats)', twitter_admiral_stats_url, :target => '_blank' %>：更新情報の配信アカウント。不具合報告なども受け付けています。
      </li>
      <li>
        <%= link_to 'Gitter (muziyoshiz/admiral_stats)', gitter_url, :target => '_blank' %>：GitHub アカウントがあればログインできるチャットです。ご意見・ご要望・雑談など。
      </li>
      <li>
        <%= link_to 'GitHub (muziyoshiz/admiral_stats)', github_url, :target => '_blank' %>：このサイトのソースコードです。プルリク歓迎。
      </li>
    </ul>
  </p>
</div>

<h3>プライバシーポリシー</h3>

<div class="container">
  <p>
    2016年9月3日作成
  </p>
  <ul class="about">
    <li>
      Admiral Stats は、ログインおよび問合せ対応のためだけに twitter アカウントを使用します。
      <ul>
        <li>
          Admiral Stats は初回ログイン時に "Read Tweets from your timeline." および "See who you follow."
          のパーミッションを要求します。これは、Twitter で設定できる最低限のパーミッションです。<br>
          実際には、あなたのフォロワーの確認や、ツイートの読み込みは行いません。</li>
        </li>
        <li>
          データ削除の依頼など、本人確認を必要とする場合は、ログインに使用した Twitter
          アカウントから、ダイレクトメッセージの送信をお願いする可能性があります。
        </li>
      </ul>
    </li>
    <li>
      Admiral Stats は、インポートされた JSON データのうち、表およびグラフの描画に必要なデータのみをデータベースに保存します。
      <ul>
        <li>
          例えば、「基本情報」に含まれる提督名は保存しません。
        </li>
        <li>
          アップロード前のデータが必要な場合は、あなたの手元に保存しておいてください。エクスポート機能の提供予定はありません。
        </li>
      </ul>
    </li>
    <li>
      Admiral Stats は、あなたがアップロードしたデータを、個人を特定できないように処理した上で、
      本サイト上（「全提督との比較」ページ）や開発者のブログなどで、第三者に公開する可能性があります。
      <ul>
        <li>
          例えば、艦隊司令部レベルの分布、艦娘レベルの分布、カードごとの入手率などを公開する可能性があります。
        </li>
      </ul>
    </li>
    <li>
      Admiral Stats は、あなたの許可なしに、あなたがアップロードしたデータそのものを第三者に公開しません。
      もしも将来、ユーザ間でのデータ共有機能を実装した場合も、あなたの許可を得た場合に限り、あなたの許可したユーザに対してのみ公開します。
    </li>
    <li>
      Admiral Stats は、ユーザ別の表示切り替え、およびアクセス状況の把握のために、クッキーを使用します。
      <ul>
        <li>
          アクセス状況の把握のために、Google Analytics を使用します。Google Analytics の利用規約については
          <%= link_to 'Google アナリティクス利用規約', 'https://www.google.com/analytics/terms/jp.html', :target => '_blank' %>
          をご参照ください。
        </li>
      </ul>
    </li>
  </ul>
</div>

<hr>

<h3>免責事項</h3>

<div class="container">
  <p>
    2016年9月3日作成
  </p>
  <ul class="about">
    <li>
      当サイトは、当サイトが提供するデータ、および利用者が登録するデータなどについて、これらのデータの正確性および完全性を保証するものではありません。
    </li>
    <li>
      当サイトの利用によって、いかなる被害・損害・トラブル等が発生した場合でも、当サイトでは一切の責任を負いかねますのでご容赦ください。
    </li>
  </ul>
</div>
