<div class="page-header">
  <h2><%= title %></h2>
  （開催期間：<%= @started_at.to_s(:datetime) %> 〜 <%= @event.ended_at.to_s(:datetime) %>）
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">このデータについて</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>イベント開催中にプレイデータをアップロードした提督全体に対する、各難易度攻略済みの提督の割合です。</li>
          <% if logged_in? %>
              <li>あなたの攻略状況は <%= link_to '「イベントの進捗」ページ', controller: 'admiral_info', action: 'event', event_no: @event.event_no %> で確認できます。</li>
          <% else %>
              <li>
                是非あなたのプレイデータもアップロードしてみてください！　使い方については
                <%= link_to 'ホーム画面', root_url %> や
                <%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> をご覧ください。
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container range-selector">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= event_period_to_text(@event, @period) %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @events.each do |event| %>
          <% event.periods.each do |period| %>
              <li><%= link_to_event_period event, period, controller: 'global', action: 'event' %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div id="chart-cleared-rate" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-cleared-loop-counts" style="width:100%; height:400px;"></div>

<hr>

<div class="row">
  <% @event.levels.each do |level| %>
      <div class="col-md-6">
        <div id="chart-cleared-loop-counts-<%= level.downcase %>" style="width:100%; height:400px;"></div>
      </div>
  <% end %>
</div>

<script type="application/javascript">
  // 引数で渡した UNIX タイムスタンプを、ローカルタイムで解釈するためのオプション
  // このオプションを渡さないと、タイムスタンプを UTC で解釈した時間が表示される
  Highcharts.setOptions({
    global : {
      useUTC : false
    }
  });

  $(function () {
    $('#chart-cleared-rate').highcharts({
      exporting: {
        sourceHeight: 400,
        sourceWidth: 800,
      },
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: '難易度別攻略率（全難易度）'
      },
      tooltip: {
        headerFormat: '',
        pointFormat: '<b>{point.name}:</b> {point.y} %'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '{point.name}: {point.y} %',
          }
        }
      },
      series: [{ data: <%== data_chart_cleared_rate(@total_num, @cleared_nums, @event.levels) %> }]
    });
  });

  $(function () {
    $('#chart-cleared-loop-counts').highcharts({
      exporting: {
        sourceHeight: 400,
        sourceWidth: 800,
      },
      chart: {
        type: 'column'
      },
      title: {
        text: '攻略済み周回数'
      },
      xAxis: {
        categories: [
          '未攻略',
          '1 周',
          '2 周',
          '3 周',
          '4 周',
          '5 周',
          '6 周',
          '7 周',
          '8 周',
          '9 周',
          '10 周以上',
        ]
      },
      yAxis: {
        min: 0,
        title: {
          text: '提督全体に対する割合(%)',
        }
      },
      tooltip: {
        headerFormat: '',
        pointFormat: '<b>{series.name}:</b> {point.y} %'
      },
      plotOptions: {
        column: {
          pointPadding: 0.1,
          borderWidth: 0
        }
      },
      series: <%== series_chart_cleared_loop_counts(@total_num, @cleared_loop_counts, @event.levels) %>
    });
  });

  <% @event.levels.each do |level| %>
  $(function () {
    $('#chart-cleared-loop-counts-<%= level.downcase %>').highcharts({
      exporting: {
        sourceHeight: 400,
        sourceWidth: 400,
      },
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: '攻略済み周回数（<%= difficulty_level_to_text(level) %>）'
      },
      tooltip: {
        headerFormat: '',
        pointFormat: '<b>{point.name}:</b> {point.y} %'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '{point.name}: {point.y} %',
          }
        }
      },
      series: [{ data: <%== data_chart_cleared_loop_counts(@total_num, @cleared_loop_counts[level]) %> }]
    });
  });
  <% end %>
</script>
