<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="container range-selector">
  <div class="dropdown">
    <%= form_tag({ action: :card }, { id: 'rangeForm' }) do %>
        <%= hidden_field_tag 'range', '', name: 'range', class: 'span2' %>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= range_to_s(@range) %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% range_symbols.each do |r| %>
              <li><a href="#" onclick="$('#range').val('<%= r.to_s %>'); $('#rangeForm').submit()"><%= range_to_s(r) %></a></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>

<div id="chart_num" style="width:100%; height:400px;"></div>

<hr>

<div id="chart_rate" style="width:100%; height:400px;"></div>
<p>
  ※注：カード入手率は、以下の実装済みカード数に基づいて計算しています。そのため、カード入手率は減少することもあります。
</p>

<hr>

<div id="chart_impl" style="width:100%; height:400px;"></div>

<script type="application/javascript">
  // 引数で渡した UNIX タイムスタンプを、ローカルタイムで解釈するためのオプション
  // このオプションを渡さないと、タイムスタンプを UTC で解釈した時間が表示される
  Highcharts.setOptions({
    global : {
      useUTC : false
    }
  });

  $(function () {
    $('#chart_num').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: 'カード入手数'
      },
      yAxis: {
        title: {
          text: '枚数'
        },
        min: 0
      },
      series: <%== @series_num.to_json %>
    }));
  });

  $(function () {
    $('#chart_rate').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: 'カード入手率'
      },
      yAxis: {
        title: {
          text: 'パーセント'
        },
        labels: {
          format: '{value} %',
        },
        min: 0,
        max: 100,
      },
      series: <%== @series_rate.to_json %>
    }));
  });

  $(function () {
    $('#chart_impl').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '実装済みカード数'
      },
      yAxis: {
        title: {
          text: '枚数'
        },
        min: 0
      },
      series: <%== @series_impl.to_json %>
    }));
  });
</script>
