<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="container range-selector">
  <div class="dropdown">
    <%= form_tag({ action: :level_summary }, { id: 'rangeForm' }) do %>
        <%= hidden_field_tag 'range', '', name: 'range', class: 'span2' %>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= range_to_s(@range) %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% range_symbols.each do |r| %>
              <li><a href="#" onclick="$('#range').val('<%= r.to_s %>'); $('#rangeForm').submit()"><%= range_to_s(r) %></a></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>

<div class="container summary-box">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th class="text-left col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">艦種</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">平均レベル</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">合計レベル</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">平均経験値</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">合計経験値</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">★5艦娘数</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">★5艦娘数（改）</th>
      </tr>
      </thead>
      <tbody>
      <% ShipMaster::SUPPORTED_SHIP_TYPES.each do |st| %>
        <tr>
          <td><%= st %></td>
          <% if @last_avg_levels[st] %>
              <td class="numeric">
                <%= @last_avg_levels[st].round(1) %>
                <%== h_span_for_delta(@first_avg_levels[st], @last_avg_levels[st]) %>
              </td>
          <% else %>
              <td class="none">
                <i class="glyphicon glyphicon-minus"></i>
              </td>
          <% end %>
          </td>
          <% if @last_levels[st] %>
              <td class="numeric">
                <%= @last_levels[st] %>
                <%== h_span_for_delta(@first_levels[st], @last_levels[st]) %>
              </td>
          <% else %>
              <td class="none">
                <i class="glyphicon glyphicon-minus"></i>
              </td>
          <% end %>
          </td>
          <% if @last_avg_exps[st] %>
              <td class="numeric">
                <%= number_with_delimiter(@last_avg_exps[st].round(0)) %>
                <%== h_span_for_delta(@first_avg_exps[st], @last_avg_exps[st], 0) %>
              </td>
          <% else %>
              <td class="none">
                <i class="glyphicon glyphicon-minus"></i>
              </td>
          <% end %>
          </td>
          <% if @last_exps[st] %>
              <td class="numeric">
                <%= number_with_delimiter(@last_exps[st]) %>
                <%== h_span_for_delta(@first_exps[st], @last_exps[st]) %>
              </td>
          <% else %>
              <td class="none">
                <i class="glyphicon glyphicon-minus"></i>
              </td>
          <% end %>
          <% if @last_five_stars[st] %>
              <td class="numeric">
                <%= @last_five_stars[st] %>
                <%== h_span_for_delta(@first_five_stars[st], @last_five_stars[st]) %>
              </td>
          <% else %>
              <td class="none">
                <i class="glyphicon glyphicon-minus"></i>
              </td>
          <% end %>
          </td>
          <% if @last_five_stars_kai[st] %>
              <td class="numeric">
                <%= @last_five_stars_kai[st] %>
                <%== h_span_for_delta(@first_five_stars_kai[st], @last_five_stars_kai[st]) %>
              </td>
          <% else %>
              <td class="none">
                <i class="glyphicon glyphicon-minus"></i>
              </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>


<div id="chart-total-level" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-average-level" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-total-exp" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-average-exp" style="width:100%; height:400px;"></div>

<p>
  ※注：上記の経験値はレベルから逆算したものであり、細かな経験値上昇は含んでおりません。
</p>

<hr>

<div id="chart-5stars" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-5stars-kai" style="width:100%; height:400px;"></div>

<script type="application/javascript">
  // 引数で渡した UNIX タイムスタンプを、ローカルタイムで解釈するためのオプション
  // このオプションを渡さないと、タイムスタンプを UTC で解釈した時間が表示される
  Highcharts.setOptions({
    global : {
      useUTC : false
    }
  });

  $(function () {
    $('#chart-total-level').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '合計レベル'
      },
      yAxis: {
        title: {
          text: 'レベル'
        },
        min: 0
      },
      series: <%== @series_total_level.to_json %>
    }));
  });

  $(function () {
    $('#chart-average-level').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '平均レベル'
      },
      yAxis: {
        title: {
          text: 'レベル'
        },
        min: 0
      },
      series: <%== @series_average_level.to_json %>
    }));
  });

  $(function () {
    $('#chart-total-exp').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '合計経験値'
      },
      yAxis: {
        title: {
          text: '経験値'
        },
        min: 0
      },
      series: <%== @series_total_exp.to_json %>
    }));
  });

  $(function () {
    $('#chart-average-exp').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '平均経験値'
      },
      yAxis: {
        title: {
          text: '経験値'
        },
        min: 0
      },
      series: <%== @series_average_exp.to_json %>
    }));
  });

  $(function () {
    $('#chart-5stars').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '★5艦娘数（ノーマル）'
      },
      yAxis: {
        title: {
          text: '艦娘数'
        },
        min: 0
      },
      series: <%== @series_5stars.to_json %>
    }));
  });

  $(function () {
    $('#chart-5stars-kai').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '★5艦娘数（改）'
      },
      yAxis: {
        title: {
          text: '艦娘数'
        },
        min: 0
      },
      series: <%== @series_5stars_kai.to_json %>
    }));
  });
</script>
