<div class="page-header">
  <h2><%= title %></h2>

  <div class="container">
    <div class="dropdown">
      <%= form_tag({ action: :level_summary }, { id: 'rangeForm' }) do %>
          <%= hidden_field_tag 'range', '', name: 'range', class: 'span2' %>
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= range_to_s(@range) %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% [:month, :three_months, :half_year, :year, :all].each do |r| %>
                <li><a href="#" onclick="$('#range').val('<%= r.to_s %>'); $('#rangeForm').submit()"><%= range_to_s(r) %></a></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>

<div id="chart-total-level" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-average-level" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-total-exp" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-average-exp" style="width:100%; height:400px;"></div>

<p>
  ※注：上記の経験値はレベルから逆算したものであり、細かな経験値上昇は含んでおりません。
</p>

<hr>

<div id="chart-5stars" style="width:100%; height:400px;"></div>

<hr>

<div id="chart-5stars-kai" style="width:100%; height:400px;"></div>

<script type="application/javascript">
  // 引数で渡した UNIX タイムスタンプを、ローカルタイムで解釈するためのオプション
  // このオプションを渡さないと、タイムスタンプを UTC で解釈した時間が表示される
  Highcharts.setOptions({
    global : {
      useUTC : false
    }
  });

  $(function () {
    $('#chart-total-level').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '合計レベル'
      },
      yAxis: {
        title: {
          text: 'レベル'
        },
        min: 0
      },
      series: <%== @series_total_level.to_json %>
    }));
  });

  $(function () {
    $('#chart-average-level').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '平均レベル'
      },
      yAxis: {
        title: {
          text: 'レベル'
        },
        min: 0
      },
      series: <%== @series_average_level.to_json %>
    }));
  });

  $(function () {
    $('#chart-total-exp').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '合計経験値'
      },
      yAxis: {
        title: {
          text: '経験値'
        },
        min: 0
      },
      series: <%== @series_total_exp.to_json %>
    }));
  });

  $(function () {
    $('#chart-average-exp').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '平均経験値'
      },
      yAxis: {
        title: {
          text: '経験値'
        },
        min: 0
      },
      series: <%== @series_average_exp.to_json %>
    }));
  });

  $(function () {
    $('#chart-5stars').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '★5艦娘数（ノーマル）'
      },
      yAxis: {
        title: {
          text: '艦娘数'
        },
        min: 0
      },
      series: <%== @series_5stars.to_json %>
    }));
  });

  $(function () {
    $('#chart-5stars-kai').highcharts($.extend({}, ADMIRAL_STATS_HIGHCHARTS_DEFAULT, {
      title: {
        text: '★5艦娘数（改）'
      },
      yAxis: {
        title: {
          text: '艦娘数'
        },
        min: 0
      },
      series: <%== @series_5stars_kai.to_json %>
    }));
  });
</script>
