<div class="page-header">
  <h2><%= title %></h2>
  <% if @publication.opens_twitter_nickname %>
  <div class="follow-button">
    <a href="https://twitter.com/<%= @publication.admiral.twitter_nickname %>" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @<%= @publication.admiral.twitter_nickname %></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <% end %>

  <button id="qrcode-btn" class="btn btn-default">QR コードの表示</button>
  <div id="qrcode" style="display: none;"></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">このページについて</h3>
      </div>
      <div class="panel-body">
        <% if @preview %>
            <ul>
              <li>これはプレビュー表示です。</li>
              <li>この情報の公開設定は OFF のため、他の人には公開されていません。</li>
            </ul>
        <% else %>
            <ul>
              <li><%= link_to_if_logged_in '設定画面', controller: 'publication', action: 'index' %> で「艦娘一覧の公開」を ON にした提督の情報を公開しています。デフォルトの設定は OFF（非公開）です。</li>
              <li>自分もプレイデータを公開したいという方は、まずは <%= link_to '「使い方」ページ', controller: 'manual', action: 'exporter' %> を参考にプレイデータをインポートしてください。</li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 10px;">
  <a class="toggle-card-star btn btn-default">
    <span class="toggle-text" style="display: none;">カードの表示に切り替え</span>
    <span class="toggle-text"><i class="glyphicon glyphicon-star star"></i><i class="glyphicon glyphicon-star star"></i><i class="glyphicon glyphicon-star star"></i>の表示に切り替え</span>
  </a>

  <a class="toggle-card-blueprint btn btn-default">
    <span class="toggle-text-blueprint" style="display: none;">レベルの表示に切り替え</span>
    <span class="toggle-text-blueprint">設計図の表示に切り替え</span>
  </a>
</div>

<div id="select-ship-types" class="container" style="margin-top: 10px;">
  <a class="select-all btn btn-primary btn-default">すべて</a>
  <a class="select-s01 btn btn-default">駆逐</a>
  <a class="select-s02 btn btn-default">軽巡</a>
  <a class="select-s03 btn btn-default">雷巡</a>
  <a class="select-s04 btn btn-default">重巡</a>
  <a class="select-s05 btn btn-default">航巡</a>
  <a class="select-s06-s07 btn btn-default">戦艦・航空戦艦</a>
  <a class="select-s08 btn btn-default">水母</a>
  <a class="select-s09 btn btn-default">軽空母</a>
  <a class="select-s10 btn btn-default">正規空母</a>
  <a class="select-others btn btn-default">その他</a>
</div>

<div class="container">
  <div class="table-responsive">
    <table id="table-ship-book" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">図鑑 No.</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs">艦型</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs">艦番号</th>
        <th class="hidden">艦番号（ソート用）</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 hidden-xs">艦種</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">艦名</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">N</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">Nホロ</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">N中破</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">改</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">改ホロ</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">改中破</th>
        <th class="text-left col-xl-3 col-lg-3 col-md-3 col-ms-3 col-xs-3">N</th>
        <th class="hidden">N（星の数でのソート用）</th>
        <th class="text-left col-xl-3 col-lg-3 col-md-3 col-ms-3 col-xs-3">改</th>
        <th class="hidden">改（星の数でのソート用）</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1">レベル</th>
        <th class="hidden">レベル（ソート用）</th>
        <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">設計図</th>
        <th class="hidden">設計図（ソート用）</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th class="text-left">図鑑 No.</th>
        <th class="text-left hidden-sm hidden-xs">艦型</th>
        <th class="text-left hidden-sm hidden-xs">艦番号</th>
        <th class="hidden">艦番号（ソート用）</th>
        <th class="text-left hidden-xs">艦種</th>
        <th class="text-left">艦名</th>
        <th class="text-left">N</th>
        <th class="text-left">Nホロ</th>
        <th class="text-left">N中破</th>
        <th class="text-left">改</th>
        <th class="text-left">改ホロ</th>
        <th class="text-left">改中破</th>
        <th class="text-left">N</th>
        <th class="hidden">N（星の数でのソート用）</th>
        <th class="text-left">改</th>
        <th class="hidden">改（星の数でのソート用）</th>
        <th class="text-left">レベル</th>
        <th class="hidden">レベル（ソート用）</th>
        <th class="text-left">設計図</th>
        <th class="hidden">設計図（ソート用）</th>
      </tr>
      </tfoot>
      <tbody>
      <% @ships.each do |ship| %>
          <tr>
            <td class="numeric"><%= ship.book_no %></td>
            <td class="text-left hidden-sm hidden-xs"><%= ship.ship_class %></td>
            <td class="text-left hidden-sm hidden-xs"><%= ship.ship_class_index %>番艦</td>
            <td class="hidden"><%= ship.ship_class_index %></td>
            <td class="text-left hidden-xs"><%= ship.ship_type %></td>
            <td class="text-left"><%= ship.ship_name %></td>
            <% 6.times do |idx| %>
                <% if @cards[ship.book_no][idx].nil? %>
                    <td class="none"><i class="glyphicon glyphicon-minus"></i></td>
                <% elsif @cards[ship.book_no][idx] == :acquired %>
                    <td class="acquired"><i class="glyphicon glyphicon-ok"></i></td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>

            <% if @cards[ship.book_no][0].nil? %>
                <td class="none"><i class="glyphicon glyphicon-minus"></i></td>
                <td class="hidden">-1</td>
            <% elsif @statuses[ship.book_no] and @statuses[ship.book_no][:star_num][0] %>
                <td class="star">
                  <% @statuses[ship.book_no][:star_num][0].times do %>
                      <i class="glyphicon glyphicon-star star"></i>
                  <% end %>
                </td>
                <td class="hidden"><%= @statuses[ship.book_no][:star_num][0] %></td>
            <% else %>
                <td></td>
                <td class="hidden">0</td>
            <% end %>
            <% if @cards[ship.book_no][3].nil? %>
                <td class="none"><i class="glyphicon glyphicon-minus"></i></td>
                <td class="hidden">-1</td>
            <% elsif @statuses[ship.book_no] and @statuses[ship.book_no][:star_num][1] %>
                <td class="star">
                  <% @statuses[ship.book_no][:star_num][1].times do %>
                      <i class="glyphicon glyphicon-star star"></i>
                  <% end %>
                </td>
                <td class="hidden"><%= @statuses[ship.book_no][:star_num][1] %></td>
            <% else %>
                <td></td>
                <td class="hidden">0</td>
            <% end %>

            <% if ship.implemented_at and ship.implemented_at <= Time.now %>
                <% if @statuses[ship.book_no] %>
                    <td class="numeric"><%= @statuses[ship.book_no][:level] %></td>
                <% else %>
                    <td class="text-left">未取得</td>
                <% end %>
            <% else %>
                <td class="text-left not-implemented">未配備</td>
            <% end %>
            <td class="hidden">
              <% if ship.implemented_at and ship.implemented_at <= Time.now and @statuses[ship.book_no] %>
                  <%= @statuses[ship.book_no][:level] %>
              <% else %>
                  0
              <% end %>
            </td>
            <% if ship.implemented_at and ship.implemented_at <= Time.now %>
                <% if @statuses[ship.book_no] %>
                    <td class="numeric"><%= @statuses[ship.book_no][:blueprint_total_num] %></td>
                <% else %>
                    <td class="text-left">未取得</td>
                <% end %>
            <% else %>
                <td class="text-left not-implemented">未配備</td>
            <% end %>
            <td class="hidden">
              <% if ship.implemented_at and ship.implemented_at <= Time.now and @statuses[ship.book_no] %>
                  <%= @statuses[ship.book_no][:blueprint_total_num] %>
              <% else %>
                  -1
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% unless @special_ships.blank? %>
    <hr>

    <div class="container">
      <div class="table-responsive">
        <table id="table-special-ship-book" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th class="text-left col-xl-1 col-lg-1 col-md-1 col-ms-1 col-xs-1">図鑑 No.</th>
            <th class="text-left col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs">艦型</th>
            <th class="text-left col-xl-1 col-lg-1 col-md-1 hidden-sm hidden-xs">艦番号</th>
            <th class="hidden">艦番号（ソート用）</th>
            <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 hidden-xs">艦種</th>
            <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">艦名</th>
            <th class="text-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">レア度</th>
            <th class="text-left col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-1">限定カード</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th class="text-left">図鑑 No.</th>
            <th class="text-left hidden-sm hidden-xs">艦型</th>
            <th class="text-left hidden-sm hidden-xs">艦番号</th>
            <th class="hidden">艦番号（ソート用）</th>
            <th class="text-left hidden-xs">艦種</th>
            <th class="text-left">艦名</th>
            <th class="text-left">レア度</th>
            <th class="text-left">限定カード</th>
          </tr>
          </tfoot>
          <tbody>
          <% @special_ships.each do |sship| %>
              <%
                ship = sship.ship_master
                next unless ship
              %>
              <tr>
                <td class="numeric"><%= ship.book_no %></td>
                <td class="text-left hidden-sm hidden-xs"><%= ship.ship_class %></td>
                <td class="text-left hidden-sm hidden-xs"><%= ship.ship_class_index %>番艦</td>
                <td class="hidden"><%= ship.ship_class_index %></td>
                <td class="text-left hidden-xs"><%= ship.ship_type %></td>
                <td class="text-left"><%= ship.ship_name %></td>
                <td class="text-left"><%= special_ship_rarity_to_s(sship) %></td>
                <% if @special_cards[ship.book_no] == :acquired %>
                    <td class="acquired"><i class="glyphicon glyphicon-ok"></i></td>
                <% else %>
                    <td></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>

<script type="application/javascript">
  $(document).ready(function() {
    var table = $('#table-ship-book').DataTable($.extend({}, ADMIRAL_STATS_DATATABLES_DEFAULT, {
      "aoColumnDefs": [
        <!-- 艦番号で数値通りにソートするための設定 -->
        { "iDataSort": 3, "aTargets": [ 2 ] },
        <!-- ノーマルの星の列を、星の数でソートするための設定 -->
        { "iDataSort": 13, "aTargets": [ 12 ] },
        <!-- 改の星の列を、星の数でソートするための設定 -->
        { "iDataSort": 15, "aTargets": [ 14 ] },
        <!-- 文字列表示を含むレベル列を、数値通りにソートするための設定 -->
        { "iDataSort": 17, "aTargets": [ 16 ] },
        <!-- 文字列表示を含む設計図列を、数値通りにソートするための設定 -->
        { "iDataSort": 19, "aTargets": [ 18 ] },
        <!-- デフォルト状態で星の数の列(12, 14)と、改装設計図の枚数の列(18)を隠すための設定 -->
        { "bVisible": false, "aTargets": [ 12, 14, 18 ] },
      ],
    }));

    var spTable = $('#table-special-ship-book').DataTable($.extend({}, ADMIRAL_STATS_DATATABLES_DEFAULT, {
      "aoColumnDefs": [
        <!-- 艦番号で数値通りにソートするための設定 -->
        { "iDataSort": 3, "aTargets": [ 2 ] },
      ],
    }));

    // カラム表示のトグル切り替え
    // 6 〜 11 列目：カード
    // 12, 14 行目：星
    $('a.toggle-card-star').on( 'click', function (e) {
      e.preventDefault();

      // ボタン表示の切り替え
      $(".toggle-text").toggle();

      var colNums = [ 6, 7, 8, 9, 10, 11, 12, 14 ]
      $.each(colNums, function(index, colNum) {
        var column = table.column(colNum);
        column.visible( ! column.visible() );
      });
    } );

    // カラム表示のトグル切り替え
    // 16 列目：レベル
    // 18 行目：改装設計図の枚数
    $('a.toggle-card-blueprint').on( 'click', function (e) {
      e.preventDefault();

      // ボタン表示の切り替え
      $(".toggle-text-blueprint").toggle();

      var colNums = [ 16, 18 ]
      $.each(colNums, function(index, colNum) {
        var column = table.column(colNum);
        column.visible( ! column.visible() );
      });
    } );

    // 与えられたイベントに基づいて、ボタンのハイライト表示および艦種での絞り込みを行います。
    function selectShipType(e, regex) {
      e.preventDefault();
      $('#select-ship-types').children('a').removeClass('btn-primary');
      $(e.currentTarget).addClass('btn-primary');
      table.column(4).search(regex, true, false).draw();
      spTable.column(4).search(regex, true, false).draw();
    }

    $('a.select-all').on( 'click', function (e) { selectShipType(e, ''); } );
    $('a.select-s01').on( 'click', function (e) { selectShipType(e, '^駆逐艦$'); } );
    $('a.select-s02').on( 'click', function (e) { selectShipType(e, '^軽巡洋艦$'); } );
    $('a.select-s03').on( 'click', function (e) { selectShipType(e, '^重雷装巡洋艦$'); } );
    $('a.select-s04').on( 'click', function (e) { selectShipType(e, '^重巡洋艦$'); } );
    $('a.select-s05').on( 'click', function (e) { selectShipType(e, '^航空巡洋艦$'); } );
    $('a.select-s06-s07').on( 'click', function (e) { selectShipType(e, '戦艦'); } );
    $('a.select-s08').on( 'click', function (e) { selectShipType(e, '^水上機母艦$'); } );
    $('a.select-s09').on( 'click', function (e) { selectShipType(e, '^軽空母$'); } );
    $('a.select-s10').on( 'click', function (e) { selectShipType(e, '^正規空母$'); } );
    $('a.select-others').on( 'click', function (e) { selectShipType(e, '^(練習巡洋艦|揚陸艦|工作艦|補給艦)$'); } );

    var keyword = getUrlParameter('keyword');
    if (keyword) {
      table.search(keyword).draw();
      spTable.search(keyword).draw();
    }

    // QRCode の表示
    // https://github.com/bayetech/jquery-qrcode-rails
    $('#qrcode').qrcode({
      size: 200,
      text: '<%== request.url %>',
    });

    $('#qrcode-btn').on('click', function() {
      $('#qrcode-btn').hide();
      $('#qrcode').show();
    })
  });
</script>
